# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [33]:
string = "toto"
number = 10

### Reverse the contents of the variables `string` and `number` (from line 1).

In [34]:
print(string[::-1])
print(str(number)[::-1])

otot
01

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [35]:
first_list = [1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in `first_list` - in one line of code.

In [36]:
print(first_list[:3])

[1, 3, 2]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [37]:
second_list = first_list[2:5]
print(second_list)

[2, 7, 4]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [38]:
third_list = first_list + second_list
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [39]:
tuple_of_lists = list(zip(first_list, second_list))
print(tuple_of_lists)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to `first_list`.

In [40]:
first_list.append(5)
print(first_list)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to `third_list`.

In [41]:
third_list.append(None)
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [42]:
# Example : my_list=[1,2,3], n=2 --> [1,2,3,1,2,3]
def add_list(my_list, n):
    return my_list*n

my_list=[1,2,3]

add_list(my_list, 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [44]:
def add_list2(my_list, n=2):
    return my_list*n

my_list=[1,2,3]

add_list2(my_list, 5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [48]:
third_list = [1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

i = third_list[0]
n = 0

while i != None:
    print(i)
    n += 1
    i = third_list[n]

1
3
2
7
4
10
46
2
7
4

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [49]:
for i in first_list:
    if i % 2 ==0:
        print(i)

2
4
10
46

### Rewrite the following expression with a multi-line `for` loop.

In [52]:
even_numbers = [element for element in first_list if element % 2 == 0]

print(even_numbers)

[2, 4, 10, 46]

In [53]:
even_numbers = []

for element in first_list:
    if element % 2 == 0:
        even_numbers.append(element)

print(even_numbers)

[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [60]:
def first_letter(n):
    list_string = n.split()
    for i in list_string:
        print(i[0].upper(), end=",")


string_letter = "Hello how are you doing?"

first_letter(string_letter)

H,H,A,Y,D,

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [76]:
car = {'brand' : 'Ford',
       'model' : 'Mustang',
       'year' : 1964
       }

### Access the `year` value.

In [63]:
print(car['year'])

1964

###  Use a loop to display all the dictionary keys.

In [80]:
for i in car.keys():
    print(i)

brand
model
year

###  Use a loop to display all the dictionary values.

In [81]:
for i in car.values():
    print(i)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [84]:
for i, j in enumerate(car.items()):
    print(i, j)

0 ('brand', 'Ford')
1 ('model', 'Mustang')
2 ('year', 1964)

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
my_dict = {key:value for key, value in zip(list_1, list_2)}
```

In [85]:
list_1 = ["Ford", "Peugeot", "Audi"]
list_2 = ["Black", "Blue", "Yellow"]

my_dict = {key:value for key, value in zip(list_1, list_2)}

print(my_dict)

{'Ford': 'Black', 'Peaugeot': 'Blue', 'Audi': 'Yellow'}

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [149]:
def fibonacci(n):
    num_fib = []
    a = 0
    b = 1

    if n >= 0:
        num_fib.append(a)
    if n >= 1:
        num_fib.append(b)
    
    for _ in range(2, n + 1):
        c = a + b
        a = b
        b = c
        num_fib.append(b)

    return num_fib

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [150]:
def fibonacci(n):
    if n == 0:
        return [0]
    elif n == 1:
        return [0, 1]
    else:
        fibs = fibonacci(n - 1)
        fibs.append(fibs[-1] + fibs[-2])
        return fibs

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

In [106]:
fibonacci(100)

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075]

### Create the same function using a generator
Ex : `generate_fibonacci(10) `

In [151]:
def fibonacci(n):
    a, b = 0, 1
    yield a
    if n > 0:
        yield b
    for _ in range(2, n + 1):
        a, b = b, a + b
        yield b

# Collecting the generated Fibonacci numbers into a list
fib_sequence = list(fibonacci(10))
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]